<form ng-submit="groceryEditCtrl.saveItem()">
    <div class="form-group" >
        <input ng-model="groceryEditCtrl.editedItem.name" placeholder="Item Name" ></input>
        <input ng-model="groceryEditCtrl.editedItem.quantity" placeholder="Quantity" text="number" ></input>
        <input ng-model="groceryEditCtrl.editedItem.price" placeholder="Price" text="number" ></input>
    </div>
    <button 
    class="btn btn-default" 
    type="submit"
    ng-disabled="!groceryEditCtrl.editedItem.name"
    >
        Save Item
    </button>
    <button
    class="btn btn-danger"
    type = "button"
    ng-show="groceryEditCtrl.cancel"
    ng-click="groceryEditCtrl.cancel()"
    >
        Cancel
    </button>
</form>